@model SpotifyWebApplication.Artist

@{
    ViewData["Title"] = "Докладніше про артиста";
}

<h1>Докладніше</h1>

<div>
    <h4>Artist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RankOnSpotify)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RankOnSpotify)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Повернутися</a>
</div>
