@model SpotifyWebApplication.Playlist

@{
    ViewData["Title"] = "Пісні плейлісту";
}

<h1>@ViewBag.PlaylistName</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th>
                Довжина
            </th>
            <th>
                Артист
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Song item in @ViewBag.songs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @(item.Duration/60):@(item.Duration % 60)
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@ViewBag.PlaylistId">Редагувати</a> |
    <a asp-action="Index"> Повернутися до списку</a>
</div>
